@import "modules/colors";
@import "partials/reset";
@import "partials/buttons";
@import "layout/navbar";
@import "layout/hero";
@import "layout/features";
@import "layout/companies";
@import "partials/text_styles.scss";
@import "partials/base";
@import "partials/card";

*, *::before, *::after {
  // max-width: 100vw;
  box-sizing: border-box;
}

main {
  margin-top: $nav-height;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
}