*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: white;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 0.4rem 1.3rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
}

.btn-primary {
  background: #611f69;
}

.js-invisible {
  display: none !important;
}

nav {
  position: fixed;
  max-width: 100vw;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2em;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav__logo {
  height: 5em;
}

nav .nav__toggle {
  width: 1.5rem;
  height: 5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__toggle__icon {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 3px;
  background: #454545;
}

nav .nav__toggle__icon::before, nav .nav__toggle__icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 3px;
  background: inherit;
}

nav .nav__toggle__icon::before {
  bottom: 7px;
}

nav .nav__toggle__icon::after {
  top: 7px;
}

.hero {
  max-width: 1000px;
  padding: 0 2.5em;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px 1fr 1fr 40px;
      grid-template-columns: 10px 1fr 1fr 40px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header header" "get_started get_started get_started get_started " "image_top . . ." ". image_middle image_middle image_bottom";
  grid-gap: 0.8em;
  overflow: hidden;
}

.hero .intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  max-width: 35ch;
}

.hero .intro__title {
  margin: 0 0 0.35em;
  font-size: 1.95rem;
}

.hero .intro__title__description {
  color: #474d55;
  font-size: 0.95rem;
}

.hero__get__started {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: get_started;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.8rem;
}

.hero input.hero__email {
  padding: 1em;
  height: 4em;
  border-radius: 3px;
  border: solid 1px #454545;
  color: #454545;
}

.hero input.hero__email:focus {
  outline-color: #611f69;
}

.hero__button__android {
  text-transform: uppercase;
  height: 4em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.hero__button__android:hover {
  background-color: #4a154b;
}

.hero__images__container {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: image_middle;
  position: relative;
  -webkit-animation: image_fold 0.7s ease-in-out;
          animation: image_fold 0.7s ease-in-out;
}

.hero__images__container::after {
  content: "Autodesk fosters open communication with slack";
  color: #454545;
  font-size: 0.9rem;
}

.hero .image_top_container {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: image_top;
  height: 30px;
}

.hero .image_top_container .image__top {
  position: absolute;
  z-index: -1;
  max-width: 140px;
  max-height: 140px;
  left: -3em;
  top: 0;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-animation: image_fold 0.7s ease-in-out;
          animation: image_fold 0.7s ease-in-out;
}

.hero .image__bottom {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: image_bottom;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 100px;
  max-width: 140px;
  max-height: 140px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-animation: image_fold 0.7s ease-in-out;
          animation: image_fold 0.7s ease-in-out;
}

.hero__description {
  grid-area: description;
  height: 100%;
  display: none;
}

@media only screen and (min-width: 780px) {
  .hero {
    -ms-grid-columns: 100px 1fr 1fr 200px;
        grid-template-columns: 100px 1fr 1fr 200px;
        grid-template-areas: ". header header header" "image_top  image_middle image_middle description" ".  image_middle image_middle image_bottom" "get_started get_started get_started get_started";
  }
  .hero .intro {
    max-width: none;
  }
  .hero .intro__title {
    max-width: none;
    font-size: 3.3rem;
    padding-left: 1.5rem;
  }
  .hero .intro__title__description {
    display: none;
  }
  .hero__get__started {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .hero__description {
    display: inline;
    line-height: 1.5;
  }
  .hero__images__container {
    height: 100%;
  }
  .hero .image__bottom {
    display: inline-block;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-top: 0;
    max-width: 100%;
    max-height: none;
  }
  .hero .image_top_container {
    height: 100%;
  }
  .hero .image_top_container .image__top {
    max-width: 200px;
    max-height: 200px;
    left: 4em;
    top: -3.5em;
  }
}

@media only screen and (min-width: 970px) {
  .hero {
    -ms-grid-columns: 100px 1fr 1fr 230px 70px;
        grid-template-columns: 100px 1fr 1fr 230px 70px;
        grid-template-areas: ". header header header header" "image_top image_middle image_middle description  description" ".         image_middle image_middle get_started  get_started" ".         image_middle image_middle image_bottom .";
    grid-row-gap: 1.5rem;
  }
  .hero__description {
    line-height: 1.2;
  }
  .hero .hero__get__started {
    -ms-grid-columns: 0.5fr 1fr;
        grid-template-columns: 0.5fr 1fr;
  }
}

@-webkit-keyframes image_fold {
  0% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50.1% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes image_fold {
  0% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50.1% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

section.features {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1.5em;
  grid-column-gap: 1.5em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 1em 2em;
  font-size: 19px;
  line-height: 1.5;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

section.features header {
  margin: 2em 0 0 0;
  max-width: 900px;
}

.features__header__title {
  text-align: start;
}

.features__header__description {
  display: none;
  text-align: start;
}

.feature__img {
  height: auto;
  margin: 0.9em 0;
}

.feature__title {
  margin-bottom: 0.5em;
}

.features__goto {
  display: inline-block;
}

.features__goto::after {
  content: "";
  display: inline-block;
  background-image: url("../../imgs/right_arrow.png");
  background-size: 20px 8px;
  width: 20px;
  height: 8px;
  margin-left: 0.3em;
}

.features__goto__link {
  text-decoration: none;
  border-bottom: none;
}

@media (min-width: 770px) {
  section.features {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  section.features header {
    width: 85%;
    -ms-grid-column-align: center;
        justify-self: center;
    grid-column: 1 / -1;
  }
  .features__header__description {
    display: block;
    margin-top: 0.4em;
  }
  .features__goto {
    grid-column: 1 / -1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .features__header__title {
    text-align: center;
  }
  .features__header__description {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  section.features {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.companies {
  background-color: #f4f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0 4em 0;
  margin: 4em 0;
}

.companies__header {
  width: 85%;
  text-align: center;
  margin: 3.5em 0 2em;
}

.companies__header__title {
  font-size: 1.9rem;
}

.companies__header__description {
  margin: 0.6em 0;
}

.companies__cards__wrapper {
  max-width: 25em;
  margin: 0 auto;
}

.companies__card__container {
  height: auto;
  background: red;
}

.companies__card__logo {
  margin: 1.5em 0;
}

.companies__pick_dots {
  width: 0.83em;
  height: 0.83em;
  border-radius: 50%;
  margin: 3.4em 0;
  position: relative;
  background: #611f69;
}

.companies__pick_dots::after, .companies__pick_dots::before {
  content: "";
  position: absolute;
  width: 0.83em;
  height: 0.83em;
  border-radius: 50%;
  background: #611f69;
}

.companies__pick_dots::after {
  right: 1.73em;
  background: #c4c4c4;
}

.companies__pick_dots::before {
  left: 1.73em;
  background: #c4c4c4;
}

.companies__name__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3em;
  width: 80%;
}

.companies__name__item {
  display: block;
  margin-top: 2em;
  padding: 0 0.5em;
}

@media (min-width: 768px) {
  .companies__cards__wrapper {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 3em;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0 4em;
    max-width: 68em;
  }
  .companies__cards__wrapper > .card__container {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: auto;
  }
  .companies__pick_dots {
    display: none;
  }
}

.blue-link {
  color: #1264a3;
  text-decoration: none;
}

.blue-link-border {
  border-bottom: 1px solid #1264a3;
}

.blue-link-border:hover {
  border-bottom: 2px solid #1264a3;
}

.link-bold {
  font-weight: 500;
}

.js-invisible {
  display: none !important;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.7em 0.7em 0 0.7em;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-description {
  font-size: 1.1rem;
  color: #454545;
  text-align: center;
  font-weight: 600;
}

.card-description::after {
  content: "";
  display: block;
  background-image: url("../../imgs/right_arrow.png");
  background-size: 30px 16px;
  width: 30px;
  height: 16px;
  margin: 2em 0 1em calc(100% - 1.7em);
}

@media (min-width: 768px) {
  .card-container {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .card-container:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-box-shadow: 0 15px 45px -10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 15px 45px -10px rgba(0, 0, 0, 0.3);
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
}
/*# sourceMappingURL=index.css.map */