*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 0.4rem 1.3rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
}

.btn-primary {
  background: #611f69;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2em;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav__logo {
  height: 5em;
}

nav .nav__toggle {
  width: 1.5rem;
  height: 5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__toggle__icon {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 3px;
  background: #454545;
}

nav .nav__toggle__icon::before, nav .nav__toggle__icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 3px;
  background: inherit;
}

nav .nav__toggle__icon::before {
  bottom: 7px;
}

nav .nav__toggle__icon::after {
  top: 7px;
}

.hero {
  width: 100%;
  max-width: 90vw;
  padding: 0 2.5em;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 10px 1fr 1fr 40px;
      grid-template-columns: 10px 1fr 1fr 40px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header header" "get_started get_started get_started get_started " "image_top . . ." ". image_middle image_middle image_bottom";
  grid-gap: 0.8em;
}

.hero .intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  max-width: 35ch;
}

.hero .intro__title {
  margin: 0 0 0.35em;
}

.hero .intro__title__description {
  color: #474d55;
  font-size: 0.95rem;
}

.hero__get__started {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: get_started;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.8rem;
}

.hero input.hero__email {
  padding: 1em;
  height: 4em;
  border-radius: 3px;
  border: solid 1px #454545;
  color: #454545;
}

.hero input.hero__email:focus {
  outline-color: #611f69;
}

.hero__button__android {
  text-transform: uppercase;
  height: 4em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.hero__button__android:hover {
  background-color: #4a154b;
}

.hero__images__container {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: image_middle;
  position: relative;
  -webkit-animation: image_fold 0.7s ease-in-out;
          animation: image_fold 0.7s ease-in-out;
}

.hero__images__container::after {
  content: "Autodesk fosters open communication with slack";
  color: #454545;
  font-size: 0.9rem;
}

.hero .image_top_container {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: image_top;
  height: 30px;
}

.hero .image_top_container .image__top {
  position: absolute;
  z-index: -1;
  max-width: 140px;
  max-height: 140px;
  left: -3em;
  top: 0;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-animation: image_fold 0.7s ease-in-out;
          animation: image_fold 0.7s ease-in-out;
}

.hero .image__bottom {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: image_bottom;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 100px;
  max-width: 140px;
  max-height: 140px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-animation: image_fold 0.7s ease-in-out;
          animation: image_fold 0.7s ease-in-out;
}

.hero__description {
  grid-area: description;
  height: 100%;
  display: none;
}

@media only screen and (min-width: 780px) {
  .hero {
    -ms-grid-columns: 100px 1fr 1fr 200px;
        grid-template-columns: 100px 1fr 1fr 200px;
        grid-template-areas: ". header header header" "image_top  image_middle image_middle description" ".  image_middle image_middle image_bottom" "get_started get_started get_started get_started";
  }
  .hero .intro {
    max-width: none;
  }
  .hero .intro__title {
    max-width: none;
    font-size: 3.3rem;
    padding-left: 1.5rem;
  }
  .hero .intro__title__description {
    display: none;
  }
  .hero__get__started {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .hero__description {
    display: inline;
    line-height: 1.5;
  }
  .hero__images__container {
    height: 100%;
  }
  .hero .image__bottom {
    display: inline-block;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-top: 0;
    max-width: 100%;
    max-height: none;
  }
  .hero .image_top_container {
    height: 100%;
  }
  .hero .image_top_container .image__top {
    max-width: 200px;
    max-height: 200px;
    left: 4em;
    top: -3.5em;
  }
}

@media only screen and (min-width: 970px) {
  .hero {
    -ms-grid-columns: 100px 1fr 1fr 230px 70px;
        grid-template-columns: 100px 1fr 1fr 230px 70px;
        grid-template-areas: ". header header header header" "image_top image_middle image_middle description  description" ".         image_middle image_middle get_started  get_started" ".         image_middle image_middle image_bottom .";
    grid-row-gap: 1.5rem;
  }
  .hero__description {
    line-height: 1.2;
  }
  .hero .hero__get__started {
    -ms-grid-columns: 0.5fr 1fr;
        grid-template-columns: 0.5fr 1fr;
  }
}

@-webkit-keyframes image_fold {
  0% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50.1% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes image_fold {
  0% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50.1% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

main {
  margin-top: 5em;
}
/*# sourceMappingURL=index.css.map */