.hero {
  width: 100%;
  max-width: 90vw;
  padding: 0 2.5em;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 10px 1fr 1fr 40px;
  // grid-template-rows: auto 30px auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "get_started get_started get_started get_started "
    "image_top . . ."
    ". image_middle image_middle image_bottom";
  grid-gap: 0.8em;

  .intro {
    grid-area: header;
    max-width: 35ch;

    &__title {
      margin: 0 0 0.35em;
    }

    &__title__description {
      color: $dark-font-color;
      font-size: 0.95rem;
    }
  }

  &__get__started {
    grid-area: get_started;

    display: grid;
    grid-gap: 0.8rem;
  }

  input.hero__email {
    padding: 1em;
    height: 4em;

    border-radius: 3px;
    border: solid 1px $gray-color;

    color: $gray-color;

    &:focus {
      outline-color: $primary-color;
    }
  }

  &__button__android {
    text-transform: uppercase;
    height: 4em;

    transition: background-color 0.2s;

    &:hover {
      background-color: $primary-darken;
    }
  }

  &__images__container {
    grid-area: image_middle;
    position: relative;

    animation: image_fold 0.7s ease-in-out;

    &::after {
      content: "Autodesk fosters open communication with slack";
      color: $gray-color;
      font-size: 0.9rem;
    }
  }

  .image_top_container {
    position: relative;
    grid-area: image_top;
    height: 30px;

    .image__top {
      position: absolute;
      z-index: -1;

      max-width: 140px;
      max-height: 140px;
      left: -3em;
      top: 0;

      opacity: 0.5;
      filter: grayscale(100%);

      animation: image_fold 0.7s ease-in-out;
    }
  }

  .image__bottom {
    grid-area: image_bottom;
    align-self: start;
    margin-top: 100px;
    max-width: 140px;
    max-height: 140px;
    opacity: 0.5;
    filter: grayscale(100%);
    animation: image_fold 0.7s ease-in-out;
  }

  &__description {
    grid-area: description;
    height: 100%;
    display: none;
  }

  @media only screen and (min-width: 780px) {
    grid-template-columns: 100px 1fr 1fr 200px;
    grid-template-areas:
      ". header header header"
      "image_top  image_middle image_middle description"
      ".  image_middle image_middle image_bottom"
      "get_started get_started get_started get_started";

    .intro {
      max-width: none;

      &__title {
        max-width: none;
        font-size: 3.3rem;
        padding-left: 1.5rem;
      }

      &__title__description {
        display: none;
      }
    }

    &__get__started {
      grid-template-columns: 3fr 1fr;
    }

    &__description {
      display: inline;
      line-height: 1.5;
    }

    &__images__container {
      height: 100%;
    }

    .image__bottom {
      display: inline-block;
      align-self: end;

      margin-top: 0;
      max-width: 100%;
      max-height: none;
    }

    .image_top_container {
      height: 100%;

      .image__top {
        max-width: 200px;
        max-height: 200px;
        left: 4em;
        top: -3.5em;
      }
    }
  }

  @media only screen and (min-width: 970px) {
    grid-template-columns: 100px 1fr 1fr 230px 70px;

    grid-template-areas:
      ". header header header header"
      "image_top image_middle image_middle description  description"
      ".         image_middle image_middle get_started  get_started"
      ".         image_middle image_middle image_bottom .";

    grid-row-gap: 1.5rem;

    &__description {
      line-height: 1.2;
    }

    .hero__get__started {
      grid-template-columns: 0.5fr 1fr;
    }
  }

  @keyframes image_fold {
    0% {
      transform-origin: top left;
      transform: scale(1);
    }
    50% {
      transform-origin: top left;
      transform: scale(0);
    }
    50.1% {
      transform-origin: bottom right;
      transform: scale(0);
    }
    100% {
      transform-origin: bottom right;
      transform: scale(1);
    }
  }
}
